.container {
  display: flex;
  padding: 20px;
  max-width: 1000px;
  margin: auto;
}

.imageWrapper {
  flex: 1;
}

.productImage {
  width: 100%;
  object-fit: cover;
}

.info {
  flex: 1;
  padding-left: 20px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.description {
  margin-bottom: 1rem;
}

.divider {
  border: none;
  height: 1px;
  background: #e1e1e1;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.options {
  margin-bottom: 2rem;
}

.colors {
  display: flex;
  margin-bottom: 1rem;
}

.colorOption {
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 2px solid #a2a2a2;
  margin-right: 10px;
  cursor: pointer;
}

.selectedColor {
  border: 2px solid #9353ff;
}

.sizes {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.sizeOption {
  margin: 0;
}

.addToCart {
  width: 100%;
  margin-top: 1rem;
}
