.header {
  background-color: #000;
  padding: 10px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
  padding: 10px;
}

.nav ul {
  display: flex;
  gap: 40px;
  margin: 0;
  list-style: none;
}

.nav li {
  cursor: pointer;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 23px;
}

.nav li a {
  color: #fff;
  text-decoration: none;
}

.nav li a:hover {
  text-decoration: underline;
}

.search {
  display: flex;
  gap: 8px;
}

.search form {
  display: flex;
  gap: 8px;
  align-items: center;
}

.searchInput {
  padding: 9px 12px;
  border: 1px solid #fff;
  border-radius: 20px;
  background: transparent;
  color: #fff;
  outline: none;
}

.searchInput::placeholder {
  color: #ccc;
}

.searchButton {
  padding: 9px 12px;
  background-color: #9353ff;
  border: 1px solid #9353ff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
}

.searchButton:hover {
  background-color: #7c3aed;
  border-color: #7c3aed;
}
